.display {
  display: inline-block;
}
.noDisplay {
  display: none;
}
body {
  background-image: url('./../images/images/thunderbird.png');
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}
.ui .container {
  background-color: #FF6F00;
}
