/* Style Sheet for Troop 51 website */

/* Global styling */


/* roster.js */
.roster-list {
  width: 100%;
}
.profile-individual {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.profile-information {
  h3 {
    text-align: left;
    font-size: 3rem;
  }
  h4 {
    text-align: right;
    font-size: 2rem;
  }
  .profile-information-details {

  }
}
