/* Style Sheet for Troop 51 website */

/* Global styling */

/* Main Container styling */

/* roster.js */
.roster-list {
  width: 100%;
}
.profile-individual {
  width: 100%;
  display: flex;
  flex-flow: row;

}
.profile-information {
  text-align: left;
  flex-grow: 1;
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2rem;
  }
  .profile-information-details {

  }
}
.profile-name {
  color: #FF6F00;
}
.profile-image {
  flex-grow: 1;
}
